<?xml version="1.0"?>
<configuration>
  <connectionStrings><add name="MyNotesReadModelEntities" connectionString="metadata=res://*/ReadModel1.csdl|res://*/ReadModel1.ssdl|res://*/ReadModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=beonedbserver\sql2005;Initial Catalog=LaqshyaOnWeb;User ID=sa;Password=passpass;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/></connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
